#!/bin/bash

# Create veth pairs (2 for OVS, 1 for db)
ip link add ovs{{ RACK_ID }}-0-int type veth peer name ovs{{ RACK_ID }}-0-ext
ip link add ovs{{ RACK_ID }}-1-int type veth peer name ovs{{ RACK_ID }}-1-ext
ip link add db{{ RACK_ID }}-0-int type veth peer name db{{ RACK_ID }}-0-ext

# Enable local side of veth pair
ip link set ovs{{ RACK_ID }}-0-ext up
ip link set ovs{{ RACK_ID }}-1-ext up
ip link set db{{ RACK_ID }}-0-ext up

# Bridge container interfaces
brctl addbr rack-{{ RACK_ID }}
brctl addif rack-{{ RACK_ID }} ovs{{ RACK_ID }}-0-ext
brctl addif rack-{{ RACK_ID }} db{{ RACK_ID }}-0-ext
ip link set rack-{{ RACK_ID }} up

# OVS configuration
OVS_PID=$(docker container inspect -f \{\{.State.Pid\}\} rack-{{ RACK_ID }}-ovs-vswitchd-0)
ip link set netns $OVS_PID dev ovs{{ RACK_ID }}-0-int
nsenter -t $OVS_PID -n ip link set ovs{{ RACK_ID }}-0-int up
ip link set netns $OVS_PID dev ovs{{ RACK_ID }}-1-int
nsenter -t $OVS_PID -n ip link set ovs{{ RACK_ID }}-1-int up

# Blog configuration
DB_PID=$(docker container inspect -f \{\{.State.Pid\}\} rack-{{ RACK_ID }}-db-0)
ip link set netns $DB_PID dev db{{ RACK_ID }}-0-int
nsenter -t $DB_PID -n ip link set db{{ RACK_ID }}-0-int up
nsenter -t $DB_PID -n ip add add {{ APP_SUBNET }}.13/24 dev db{{ RACK_ID }}-0-int
nsenter -t $DB_PID -n ip route add default dev db{{ RACK_ID }}-0-int

# Add local routes needed for the rack networks (ovs bridge IP and rack subnet)
ip route add {{ MGMT_SUBNET }}.12 dev ovs{{ RACK_ID }}-1-ext
ip route add {{ APP_SUBNET }}.0/24 dev ovs{{ RACK_ID }}-1-ext
